slack_bolt
python-dotenv
extractous
langchain
langchain-google-firestore
langchain-google-vertexai
youtube_transcript_api
langchain_openai
Beautifulsoup4
google-auth-oauthlib
pytz
notion-client
markdown2
schedule
redis
duckduckgo_search
langgraph
markdown_pdf
html2text
celery
authlib
fastapi[all]
psycopg2-binary